<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <ul class="footer_nav">
         <li>
          <a href="#aboutus">about us</a>&nbsp; &nbsp;|&nbsp;
        </li>
        <li>
          <a href="#contact">Contact</a>&nbsp; &nbsp;|&nbsp;
        </li>
        <li>
          <a href="#termsandconditions">Terms</a>&nbsp; &nbsp;|&nbsp;
        </li>
        <li>
          <a href="#privacypolicy">Privacy policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row padding_footer">
    <div class="col-md-2">
      <a href="#"><img src="../images/perrshape-pro-logo-white-43.png" class="img-responsive peerShape"></a>
    </div>
    <div class="col-md-5 copywrite">
      <div>
        &copy;2016.&nbsp&nbspPeerShape.com.&nbsp All rights reserved.
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 copywrite terms_link">
     <!--  <div class="pull-right">
      <a href="#">Terms</a> &nbsp &nbsp|&nbsp
        <a href="#">privacy policy</a>
      </div> -->
    </div>
  </div>
</div>
</footer>