<!-- <div>
    <div class="s-c-goal s-c-task" ng-repeat="suggestion in structure.suggestions">
        <div class="suggestion-pool">
            <a href="">
                <i class="material-icons">thumb_up</i>
                <span>1</span>
            </a>
            <span ng-bind="suggestion.suggestion_title" ng-click="structure.showSuggestionDetails()"></span>

            <ul class="list-inline">
                <li>
                    <a href="">
                        Feb 16
                    </a>
                </li>
                <li>
                    <a>
                        <img src="../images/icon-task-details.png" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/icon-needs.png" class="img-responsive">
                    </a>

                </li>
                <li>
                    <a href="">
                        <img src="../images/trash.png" class="img-responsive" >
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div role="tab" class="addgoalrow" ng-if="structure.suggestionRow">
      <div class="text-left">
          <form name="goalForm" ng-submit="structure.addSuggestion()">
            <input type="text" ng-model="structure.suggestion" class="addgoaltxt" focus="true" placeholder= "Enter goal here" name="goal" required ng-blur="structure.addSuggestion()"/>
        </form>
    </div>
</div>
<div class="add_goal click" ng-if="!structure.suggestionRow">
  <i class="material-icons icon-add-goal" ng-click="structure.addSuggestionRow(true)">add_circle_outline</i>
  <span ng-click="structure.addSuggestionRow(true)">Suggest Task</span>
</div>

</div>
</div> -->