<ng-include src="'views/partials/header.html'"></ng-include>
<div class="main-contain" ng-controller= "aboutusCtrl as aboutus">
  <div class="container">
  	<!-- about us page html -->
  	<div class="row">
  	<div class="col-lg-12 col-sm-12 c0l-md-12 col-xs-12 new-fontcal">
  		<h3 class="head-abt"> PeerShape Pro: Community skills for community problems</h3>

 		<div class="para-abt-us para-abt-new">
  		<p>We believe that every good idea deserves to become a reality. PeerShape Pro or &#34;PeerShape Projects&#34; is the next step in the evolution of crowd sourcing, bringing together community resources to shape ideas and solve community problems.</p>

		<p>Ideas that come from the bottom-up capture the diverse perspectives,	challenges and opportunities of the entire community. And when good ideas does not  become a reality, we as a society lose out. We saw that non-profits, neighbors, volunteers, and companies needed a better way&#46;&#46;&#46;a better way to give shape and structure to an idea, to find the necessary resources, to collaborate with each other, and to execute the idea into a reality. This is why we started PeerShape.</p>

		<p>So, how does PeerShape Pro work? It has the following simple steps&#46;&#46;		&#46; </p>

		<p><b>Post Idea:</b>  Originators describe their idea and start a list of goals, tasks, and needs</p>

		<p><b>Shape Project:</b> The originator&#39;s community (whether it is coworkers, volunteers, or neighbors) collaborates to shape the idea and organize it into an executable project.</p>

		<p><b>Match Resources:</b> Contributions (time, materials &amp; money) are matched to goals and tasks.</p>

		<p><b>Manage Project:</b> Simple, yet powerful tool that organizes the work of many to deliver the project. So, where all can PeerShape Pro be used? Here are some examples </p>

		<p><b>Community Projects:</b> From creating a community garden to repairing a broken playground or building a ramp for a disabled neighbor, bring together your community to solve a real problem.</p>

		<p><b>Organize Events:</b> Host neighborhood gatherings, music festivals or scientific conferences &#45; open doors and embrace the culture, heritage and arts that shape your community.</p>

		<p><b>Build &amp; Create:</b> Bring minds together and create something wonderful. Create a new product or the next big start-up, leveraging the strengths of your community.</p>

		<p><b>Connect Organizations:</b> Whether it is across company offices or an industry cluster; across non-profit, corporate, or government sectors, ensure that the best ideas find the resources to become reality.</p>

		<p><b>Team:</b> We are group of diverse professionals, based in Denver, CO.</p>
		</div>  		
  	</div>
  	</div>
  </div>
</div>