
  <!-- Forgot Password Section-->
  <div id="forgot_password" ng-controller = "signinCtrl as signin">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-4 text-center center_column">
        <div class="panel panel-default panel_margin">
          <div class="panel-body f-p-border">
            <h3>Forgot password?</h3>
            <br>
            <p>If you have forgotten your password - reset it here.</p>
            <form name = "resetpwdForm">
              <input type="text" autocomplete="off" placeholder="Email Address" class="signin_form forgot_password_form" name="email"  ng-model ="signin.resetpwdForm.email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"   ng-change ="signin.clearfrm()" required/>
            </form>
            <br>
            <div style="color:#a94442" ng-show="resetpwdForm.email.$error.pattern && signin.submitform" ng-init='signin.emailErr = true' class="error_msg_forgotp">Please enter a valid email address</div>
            
            <span style="color:#a94442" ng-show="resetpwdForm.email.$error.required && signin.submitform && resetpwdForm.email" class="error_msg_forgotp" >Please enter your email address</span>
            
            
            <p>You will receive an email if you have an account with us.</p>
            <br>
            <input type="submit" class="btn btn-info btn-info-custom btn-block btn-password" value="Reset my password" name="commit" ng-click = "signin.pwdreset()">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
