<div style="background-color:#F2F2F2;">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 pop">
      <div id="pop_up">
        <!-- Task Details -->
        <div id="task_details">
          <div class="task_details_border">
            <div class="row">
              <div class="col-sm-10">
                <a href="">Task Details</a>
              </div>
              <div class="col-sm-1">
                <i class="material-icons material-arrow-down">keyboard_arrow_down</i> 
                <i class="material-icons material-arrow-up">keyboard_arrow_up</i>
              </div>
            </div>
          </div>
        </div>
        <!-- Needs-->
        <div></div>
        <!-- Comments-->
        <div></div>
      </div>
    </div>
  </div>
</div>