<!-- Reset Password Section-->
<div id="reset_password" ng-controller = "signinCtrl as signin">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-4 text-center center_column">
          <div class="panel panel-default panel_margin">
            <div class="panel-body f-p-border">
              <h3>Change your password</h3>
              <br/>
            <form name = "myForm">
              <input type="password" autocomplete="off" placeholder="New Password" class=" reset_password_form" ng-model="signin.myForm.password" ng-change = "signin.clearfrm();" required/>
              <br/><br/>

              <div style="color:#a94442" ng-show="!signin.myForm.password.length && signin.done" class="control-label" for="inputError">Please enter your password</div>

              <span style="color:#a94442" ng-show="signin.done && signin.spaceErr">Password must have have characters without space</span>

               <div style="color:#a94442" ng-show="signin.done && signin.charErr">Password must have atleast 8 characters </div>

              
              <input type="password" placeholder="Confirm password" class="reset_password_form" ng-model="signin.myForm.password_confirmation" ng-change = "signin.clearfrm();"  required/>

              <div style="color:#a94442" ng-show="!signin.myForm.password_confirmation.length && signin.done" class="control-label" for="inputError">Please enter your confirm password</div> 

              <div  style="color:#a94442" ng-show="signin.IsMatch && signin.done" class ="error_msg_resetp">Passwords have to match !</div>

              
            </form>
            <br/><br/>
            <input type="submit" class="btn btn-info btn-info-custom btn-block btn-password" value="Submit" name="commit" ng-click = "signin.submit(); signin.done = true">
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>